@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sales Persons and Territories</h1>
    <p class="lead">In this demo, we have built a simple solution, based on the scaffolding functionality offered by Visual Studio 2015, 
    that allow to perform CRUD operations on two tables of the AdventureWorks 2014 demo database provided by Microsoft.
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">For more info about ASP.NET MVC... &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Chapter 08</h2>
        <p>
            In this chapter we focus on the arquitecture principles and tools provided by Microsoft 
            using different artifacts: The Microsoft Solutions Framework, Microsoft Visio, SQL Server Management 
            Studio, Visual Studio MVC templates, etc.
        </p>
        <p><a class="btn btn-default" href="https://www.packtpub.com/application-development/mastering-c-and-net-programming">
            About this book... &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More books from PACKT Publishing</h2>
        <p>PACKT Publishing offers a wide range of titles covering all aspects of programming and programming tools.</p>
        <p><a class="btn btn-default" href="https://www.packtpub.com">About PACKT Publishing &raquo;</a></p>
    </div>
</div>